{% include 'Admin/adminHeader.html.twig' %}
{% include 'Admin/adminNav.html.twig' %}
<section>
    <h1>Présentation de l'entreprise et certifications</h1>
    <div class="admin-box text-forms-group">
        <form action="?route=presentationAccueil" method="post">
            <fieldset>
                <legend>Modifier le texte de présentation:</legend>
                <textarea id="summernote" name="texte">
                     {% for presentationAccueil in presentationAccueils %}
                         {{ presentationAccueil.texte }}
                     {% endfor %}
                </textarea>
                <input type="hidden" name="section" value="ACCUEIL"/>
                <input type="submit" class="btn btn-success" value="Modifier" name="submit">
            </fieldset>
        </form>
    </div>
    <div class="admin-box image-uploader">
        <span id="anchorUpload" class="anchor"></span>
        <form action="?route=adminCertifications" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Ajouter une image :</legend>
                {% if uploadErrors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <ul>
                            {% for uploadError in uploadErrors %}
                                <li>{{ uploadError }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <input id="uploadFile" class="uploaded-file-name" placeholder="Choisissez une image..."
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="uploadBtn" type="file" class="upload" name="upload"/>
                </div>
                <input type="submit" class="btn btn-success" value="Ajouter" name="submit">
            </fieldset>
        </form>
        <div class="row uploaded-images">
            {% for certification in certifications %}
                <div class="col-md-2">
                    <figure class="thumbnail center-block">
                        <img src="assets/uploads/{{ certification.name }}" class="img-responsive">
                        <form class="delete-form" action="?route=deleteCertification" method="post">
                            <input type="hidden" name="id" value="{{ certification.id }}"/>
                            <button type="submit" class="btn btn-block btn-danger">Supprimer</button>
                        </form>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}