<section>
    <h2>Platrerie</h2>
    <div class="row">
        {% for platrerie in platreries %}
            <div class="col-md-2">
                <figure class="thumbnail center-block">
                    <h3>{{ platrerie.titre }}</h3>
                    <img src="{{ platrerie.image }}" class="img-responsive">
                    <figcaption>{{ platrerie.texte }}</figcaption>
                </figure>
                <form action="?route=deleteEcoPlatrerie" method="post">
                    <input type="hidden" name="id" value="{{ platrerie.id }}"/>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>