{% include 'Admin/adminHeader.html.twig' %}

<section>
    <h2>Diaporama maçonnerie</h2>

    {% if uploadErrors %}
        <ul class="alert alert-danger">
            {% for uploadError in uploadErrors %}
                <li>{{ uploadError }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <form action="?route=adminSlider" method="post" enctype="multipart/form-data">
                Select image to upload:
                <input type="file" name="upload">
                <input type="submit" value="Envoyer" name="submit">
            </form>
        </div>
    </div>
    <div class="row">
        {% for slide in slides %}
            <div class="col-md-2">
                <figure class="thumbnail center-block">
                    <img src="assets/uploads/{{ slide.uri }}" class="img-responsive">
                </figure>
                <form action="?route=deleteSlide" method="post">
                    <input type="hidden" name="id" value="{{ slide.id }}"/>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}