{% include 'Admin/adminHeader.html.twig' %}
<a href="index.php?route=adminCertifications">Administrer les certifications</a>
<a href="index.php?route=adminSlider">Administrer le diaporama Maçonnerie</a>
<a href="index.php?route=adminForm">Changer l'adresse mail de contact</a>
{% include 'Admin/adminFooter.html.twig' %}
