{% include 'Admin/adminHeader.html.twig' %}
<br/>
<a href="index.php?route=adminCertifications" class="btn btn-primary">Administrer les certifications</a>
<br/>
<br/>
<a href="index.php?route=adminSlider" class="btn btn-primary">Administrer le diaporama Maçonnerie</a>
{#{% include 'Admin/adminSlider.html.twig' %}#}
{#{% include 'Admin/adminRealeco.html.twig' %}#}
{#{% include 'Admin/adminPlatrerie.html.twig' %}#}
{#{% include 'Admin/adminRenovation.html.twig' %}#}
{% include 'Admin/adminFooter.html.twig' %}
