{% include 'Admin/adminHeader.html.twig' %}
<a href="index.php?route=adminCertifications">Administrer les certifications</a>
<a href="index.php?route=adminSlider">Administrer le diaporama Maçonnerie</a>
<a href="index.php?route=adminImageAccueil">Administrer l'image d'accueil</a>
{#{% include 'Admin/adminSlider.html.twig' %}#}
{#{% include 'Admin/adminRealeco.html.twig' %}#}
{#{% include 'Admin/adminPlatrerie.html.twig' %}#}
{#{% include 'Admin/adminRenovation.html.twig' %}#}
{% include 'Admin/adminFooter.html.twig' %}
