{% include 'Admin/adminHeader.html.twig' %}
{% include 'Admin/adminNav.html.twig' %}
<section>
    <h1>Administration du formulaire</h1>
    <div class="admin-box text-forms-group">
        <form action="?route=adminForm" method="POST">
            <label for="formReceptionAddress">Vous recevrez vos mails à l'adresse suivante :</label>
            <input type="email" id="formReceptionAddress" name="formReceptionAddress" class="form-control"
                   value="{{ formReceptionAddress.receptionAddress }}">
            <button type="submit" class="btn btn-success btn-mail">Modifier</button>
        </form>
    </div>
</section>