{% include 'Admin/adminHeader.html.twig' %}
<section>
    <h1>Administration du formulaire</h1>
    <p>Vous recevez actuellement vos mails à l'adresse <span
                class="mailReceptionAddress">{{ formReceptionAddress.receptionAddress }}</span>
    </p>
    <form action="?route=adminForm" method="POST">
        <label for="formReceptionAddress">Veuillez saisir votre nouvelle adresse de réception des messages du
            formulaire</label>
        <input type="email" id="formReceptionAddress" name="formReceptionAddress" class="form-control" required>
        <button type="submit" class="btn btn-success button-mail-address">Valider</button>
    </form>
</section>