{% include 'Admin/adminHeader.html.twig' %}
<nav class="admin-navigation">
    <a href="index.php?route=admin" class="btn btn-primary" title="Accueil de l'administration"><span
                class="glyphicon glyphicon-home"></span></a>
    <a href="index.php?route=home" target="_blank" class="btn btn-info"
       title="Ouvrir le site dans un nouvel onglet"><span class="glyphicon glyphicon-globe"></span></a>
</nav>
<section>
    <h2>Image d'accueil</h2>
    <div class="admin-box image-uploader">
        <span id="anchorUpload" class="anchor"></span>
        <form action="?route=adminImageAccueil" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Ajouter une image :</legend>
                {% if uploadErrors %}
                    <ul class="alert alert-danger">
                        {% for uploadError in uploadErrors %}
                            <li>{{ uploadError }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input id="uploadFile" class="uploaded-file-name" placeholder="Choisissez une image..."
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="uploadBtn" type="file" class="upload" name="upload"/>
                </div>
                <input type="submit" class="btn btn-success" value="Remplacer" name="submit">
            </fieldset>
        </form>
        <div class="uploaded-images">
                <img class="thumbnail center-block image-accueil" src="assets/uploads/imageAccueil.jpg" alt="Actuelle image d'accueil">
        </div>
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}