{% include 'Admin/adminHeader.html.twig' %}
{% include 'Admin/adminNavbar.html.twig' %}
<a href="index.php?route=adminRenovations">Administrer la partie rénovation</a>
{#{% include 'Admin/adminSlider.html.twig' %}#}
{#{% include 'Admin/adminRealeco.html.twig' %}#}
{#{% include 'Admin/adminPlatrerie.html.twig' %}#}
{#{% include 'Admin/adminRenovation.html.twig' %}#}
{% include 'Admin/adminFooter.html.twig' %}