{% include 'Admin/adminHeader.html.twig' %}
<a href="?route=adminCertifications">Administrer les certifications</a>
<a href="?route=adminSlider">Administrer le diaporama Maçonnerie</a>
<a href="?route=adminImageAccueil">Administrer l'image d'accueil</a>
<a href="?route=adminPlatrerie">Administrer la section platrerie</a>
<a href="?route=adminRealEco">Administrer la section réalisation écologique</a>
<a href="?route=adminForm">Changer l'adresse mail de contact</a>
<a href="?route=adminRenovations" class="btn btn-primary">Administrer la partie rénovation</a>
<a href="?route=home" class="btn btn-default">Retour vers la page principale</a>
{% include 'Admin/adminFooter.html.twig' %}
