{% include 'Admin/adminHeader.html.twig' %}
<a href="index.php?route=adminCertifications">Administrer les certifications</a>
<a href="index.php?route=adminSlider">Administrer le diaporama Maçonnerie</a>
<a href="index.php?route=adminImageAccueil">Administrer l'image d'accueil</a>
<a href="index.php?route=adminPlatrerie">Administrer la section platrerie</a>
<a href="index.php?route=adminRealEco">Administrer la section réalisation écologique</a>
{% include 'Admin/adminFooter.html.twig' %}
