<section>
    <h2>Réalisation écologique</h2>
    <div class="row">
        {% for realEco in realEcos %}
            <div class="col-md-2 ">
                <figure class="thumbnail center-block">
                    <h3>{{ realEco.titre }}</h3>
                    <img src="assets/uploads/{{ realEco.image }}" class="img-responsive">
                    <figcaption>{{ realEco.texte }}</figcaption>
                </figure>
                <form action="?route=deleteRealisation" method="post">
                    <input type="hidden" name="id" value="{{ realEco.id }}"/>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>