<section>
    <h2>Platrerie</h2>
    <form action="?route=addEcoPlatrerie" method = post>
        <fieldset>
            <legend>Ajouter une vignette:</legend>
            <label for="titre">Titre :</label>
            <input type="text" name="titre" id="titre" placeholder="Entrez le titre" value="" class="form-control"/>
            <label for="texte">Texte :</label>
            <textarea name="texte" id="texte" class="form-control"></textarea>
            <label>Sélectionnez votre photo :</label>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>Ajouter
            </button>
        </fieldset>
    </form>

    <div class="row">
        {% for platrerie in platreries %}
            <div class="col-md-2">
                <figure class="thumbnail center-block">
                    <h3>{{ platrerie.titre }}</h3>
                    <img src="assets/uploads/{{ platrerie.image }}" class="img-responsive">
                    <figcaption>{{ platrerie.texte }}</figcaption>
                </figure>
                <form action="?route=deleteEcoPlatrerie" method="post">
                    <input type="hidden" name="id" value="{{ platrerie.id }}"/>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>