<nav class="admin-navigation">
    <a href="index.php?route=admin" class="btn btn-primary" title="Accueil de l'administration"><span
                class="glyphicon glyphicon-home"></span></a>
    <a href="index.php?route=home" target="_blank" class="btn btn-info"
       title="Ouvrir le site dans un nouvel onglet"><span class="glyphicon glyphicon-globe"></span></a>
</nav>
