<section>
    <h2>Rénovation et Restauration</h2>
    <div class="section-content">
        <div class="row">
            {% for renov in renovs %}
                <div class="col-md-5">
                    <figure class="thumbnail center-block">
                        <h3>{{ renov.title }}</h3>
                        <div class="col-md-5 col-md-offset-1">
                            <img src="{{ renov.imageBefore }}" class="img-responsive">
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <img src="{{ renov.imageAfter }}" class="img-responsive">
                        </div>
                        <figcaption class="text-center">{{ renov.text }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>