<span id="anchorContact" class="anchor"></span>
<section>
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h2 class="contact-title">CONTACTEZ-NOUS</h2>
            <hr class="separator">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 hidden-xs hidden-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2669.230025221387!2d2.0838694155398874!
            3d48.00926567921347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5010edc6b7f5b%3A0x49bc580d9c5a7
            fbc!2sBeltoise+Christian!5e0!3m2!1sfr!2sfr!4v1509365404509"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
        </div>
        <div class="col-md-6 col-sm-12">
            <p><span class="glyphicon glyphicon-earphone"></span> Tel: 00 00 00 00 00</p>
            <p>Pour toute demande de devis, de conseil ou autre, vous pouvez nous joindre par téléphone ou via le
                formulaire ci-joint.</p>
            <form name="" method="POST" action="">
                <div class="form-group">
                    <label for="nomContact">Nom :</label>
                    <input class="form-control" type="text" name="nomContact"/>
                </div>
                <div class="form-group">
                    <label for="prenomContact">Prénom :</label>
                    <input class="form-control" type="text" name="prenomContact"/>
                </div>
                <div class="form-group">
                    <label for="emailContact">Email :</label>
                    <input class="form-control" type="email" name="emailContact"/>
                </div>
                <div class="form-group">
                    <label for="messageContact">Message :</label>
                    <textarea required="required" class="form-control"
                              name="messageContact"></textarea>
                </div>
                <div class="button-contact">
                    <input class="btn btn-success btn-lg" type="submit" name="add" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
</section>

