<section>
    <div class="row">
        <div class="col-md-6 hidden-xs hidden-sm">
            <img src="http://via.placeholder.com/800x400" alt="photo">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>CONTACTEZ-NOUS</h2>
            <hr>
            <p><span class="glyphicon glyphicon-earphone"></span> Tel: 00 00 00 00 00</p>
            <p>Pour toute demande de devis, de conseil ou autre, vous pouvez nous joindre par téléphone ou via le
                formulaire ci-joint</p>
            <form name="" method="POST" action="">
                <div class="form-group">
                    <label for="emailContact">Email :</label>
                    <input class="form-control" type="email" name="emailContact"/>
                </div>
                <div class="form-group">
                    <label for="messageContact">Message :</label>
                    <textarea required="required" class="form-control"
                              name="messageContact"></textarea>
                </div>
                <input class="btn btn-success btn-lg" type="submit" name="add" value="Envoyer">
            </form>
        </div>
    </div>
</section>
