<span id="anchorContact" class="anchor"></span>
<section>
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h2 class="contact-title">CONTACTEZ-NOUS</h2>
            <hr class="separator">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 hidden-xs hidden-sm">
            <img class="img-responsive" src="http://via.placeholder.com/800x400" alt="photo">
        </div>
        <div class="col-md-6 col-sm-12">
            <p><span class="glyphicon glyphicon-earphone"></span> Tel: 00 00 00 00 00</p>
            <p>Pour toute demande de devis, de conseil ou autre, vous pouvez nous joindre par téléphone ou via le
                formulaire ci-joint.</p>
            <form name="" method="POST" action="">
                <div class="form-group">
                    <label for="nomContact">Nom :</label>
                    <input class="form-control" type="text" name="nomContact"/>
                </div>
                <div class="form-group">
                    <label for="prenomContact">Prénom :</label>
                    <input class="form-control" type="text" name="prenomContact"/>
                </div>
                <div class="form-group">
                    <label for="emailContact">Email :</label>
                    <input class="form-control" type="email" name="emailContact"/>
                </div>
                <div class="form-group">
                    <label for="messageContact">Message :</label>
                    <textarea required="required" class="form-control"
                              name="messageContact"></textarea>
                </div>
                <div class="button-contact">
                    <input class="btn btn-success btn-lg" type="submit" name="add" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
</section>

