<hr class="separator">
<div class="row footer">
    <div class="hidden-xs hidden-sm col-md-2 text-center">
        <div class="row logo-certif">
            <a href="" target="_blanc">
                <img src="assets/images/qualibat.png" alt="qualibat"/>
            </a>
        </div>
    </div>
    <div class="col-xs-12 push-xs-6 col-sm-8 text-center">
        <div class="row logo-beltoise-footer">
            <img class="footer-logo-beltoise" src="assets/images/ENTETE_BELTOISE3.jpg" alt="logo Beltoise">
        </div>
    {% include 'Home/mention_legales.html.twig' %}
    <div class="hidden-xs hidden-sm col-md-2 hidden-lgtext-center logoWCS">
        <a href="http://wildcodeschool.fr/orleans" target="_blanc">
            <div class="row">
                Site créé par
            </div>
            <div class="row">
                <img src="assets/images/WCSlogo.jpg" alt="logo Wild Code School"/>
            </div>
        </a>
    </div>
    <div class="col-xs-12 hidden-sm hidden-lg hidden-md text-center logoWCS">
        <a href="http://wildcodeschool.fr/orleans" target="_blanc">
            <div class="row">
                Site créé par
            </div>
            <div class="row">
                <img src="assets/images/WCSlogo.jpg" alt="logo Wild Code School"/>
            </div>
        </a>
    </div>
</div>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/function.js"></script>

</body>
</html>