<hr class="separator">
<div class="row footer hidden-xs">
    <ul class="hidden-xs hidden-sm col-md-2 text-center image-list">
        {% for logo in logos %}
            <div class="logo-certif-mini col-md-3">
                <p><img src="assets/uploads/{{ logo.name }}" alt="Certification"></p>
            </div>
        {% endfor %}
    </ul>
    <div class="push-xs-6 col-sm-8 text-center">
        <div class="row logo-beltoise-footer">
            <img class="footer-logo-beltoise" src="assets/images/ENTETE_BELTOISE3.jpg" alt="logo Beltoise">
        </div>
        {% include 'Home/mention_legales.html.twig' %}
        <div class="hidden-xs hidden-sm col-md-2 hidden-lgtext-center logoWCS">
            <a href="http://wildcodeschool.fr/orleans" target="_blank">
                <div class="row">
                    Site créé par
                </div>
                <div class="row">
                    <img src="assets/images/WCSlogo.jpg" alt="logo Wild Code School"/>
                </div>
            </a>
        </div>
        <div class="hidden-sm hidden-lg hidden-md text-center logoWCS">
            <a href="http://wildcodeschool.fr/orleans" target="_blank">
                <div class="row">
                    Site créé par
                </div>
                <div class="row">
                    <img src="assets/images/WCSlogo.jpg" alt="logo Wild Code School"/>
                </div>
            </a>
        </div>
    </div>
</div>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/function.js"></script>

</body>
</html>