<div class="row linkModal">
    <a href="#" data-toggle="modal" data-target="#infolegale">mentions légales</a>
</div>

<!-- modale mentions legales -->
<div class="modal modal-wide fade" id="infolegale" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Informations légales</h3>
            </div>
            <div class="modal-body infolegale">

                <h4>Editeur</h4>
                <p>
                    Beltoise<br>
                    114 rue de l'étang 45470 Loury<br>
                    siren : 529 212 003<br>
                    Assurances RC décennale & générale :<br>
                    THELEM ASSURANCES TDCB10636944<br>
                    THELEM ASSURANCES TRCB10636926<br>

                </p>


                <h4>Responsable de publication</h4>
                <p>M. Olivier Beltoise</p>


                <h4>Hébergement</h4>
                <p>Ce site est hébergé chez <a href="https://www.ovh.com/fr/" target="_blank">OVH</a>.</p>


                <h4>Protection des données personnelles sur le site</h4>
                <p>
                    Ce site respecte les règles suivantes, concernant les données personnelles :<br/>
                    - 1. Pas d’information collectée à l’insu de l’internaute,<br/>
                    - 2. Pas de cession à des tiers.
                    Les informations renseignées par les internautes dans le formulaire de contact ne sont
                    utilisées que pour le
                    traitement des messages laissés par ces derniers.<br/>
                    En conformité avec la loi informatique et libertés, l'internaute peut faire valoir son
                    droit de modification
                    et/ou de suppression des données personnelles qui le concerne. Pour ce faire, il
                    formulera sa demande par
                    courrier simple, à l'attention du responsable de publication et à l'adresse du siège
                    social, précisés plus haut.
                </p>


                <h4>Droit d'auteur - Copyright</h4>
                <p>
                    L'ensemble de ce site relève de la législation française et internationale sur le droit
                    d'auteur et la propriété
                    intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les
                    documents téléchargeables et les
                    représentations iconographiques et photographiques.<br/>
                    La reproduction de tout ou partie de ce site sur un support quelconque, matériel ou
                    immatériel, quel qu'il soit est
                    formellement interdite sauf autorisation expresse du responsable de publication.
                </p>

                <h5 class="text-left">Polices de caractères</h5>

                <p>

                </p>

                <h5 class="text-left">Images</h5>

                <p>
                    Toutes les photographies et images présentes sur ce site sont libre de droits.<br/>
                    Liste des photos :

                </p>

                <h4>Fonctionnement</h4>
                <p>
                    Pour toute remarque ou suggestion sur le fonctionnement du site, veuillez adresser un
                    message via le formulaire de contact.</a>
                </p>

                <h4>Conception et réalisation</h4>
                <a href="https://wildcodeschool.fr/orleans/" target="_blank">
                    <img class="legal-logo-wcs" src="assets/images/WCSlogo.jpg" alt="logo Wild Code School"/>
                </a>
                <span>
                                Thibaut Decherit, Maxime Vachon, Christophe Pichon, Matthieu Caradet
                            </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modale infos legales -->

</div>