<div class="row separationImgAccueil">

    <nav id="navbar" class="navbar navbar-default">
        <div class="container-fluid ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo img-responsive" src="../assets/images/logoBeltoiseInverse.png" alt="Logo Beltoise & Fils">
            </div>
            <div class="navbar-smartphone">
                <!-- navbar smartphone -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <a href="#anchorPresentation">Présentation</a></li>
                        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <a href="#anchorMaconnerie">Maçonnerie</a></li>
                        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <a href="#anchorRealeco">Réalisations écologiques</a></li>
                        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <a href="#anchorPlatrerie">Plâtrerie</a></li>
                        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <a href="#anchorRenovation">Rénovation</a></li>
                        <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <a href="#anchorContact">Nous contacter</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
            <div class="hidden-xs hidden-sm">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#anchorPresentation">Présentation</a></li>
                        <li><a href="#anchorMaconnerie">Maçonnerie</a></li>
                        <li><a href="#anchorRealeco">Réalisations écologiques</a></li>
                        <li><a href="#anchorPlatrerie">Plâtrerie</a></li>
                        <li><a href="#anchorRenovation">Rénovation</a></li>
                        <li class="navbar-button">
                            <a data-toggle="collapse"
                               data-target="#bs-example-navbar-collapse-1"
                               class="btn-success btn-lg" href="#anchorContact"
                               role="button">Nous contacter</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
