<span id="anchorPlatrerie" class="anchor"></span>
<div class="row separationImg">
    <div class="center-title">
        <h2>Plâtrerie</h2>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-md-offset-2">
            <h3>Realisation 1</h3>
            <img src="assets/images/platrerie/corniche_platre_la_chapelle_apres.jpg" style="height: 300px; width: 300px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-4 col-xs-12 col-md-offset-1">
            <h3>Realisation 2</h3>
            <img src="assets/images/platrerie/corniche_platre_orleans_apres.jpg" style="height: 300px; width: 300px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 col-xs-12 col-md-offset-2">
            <h3>Realisation 5</h3>
            <img src="assets/images/platrerie/corniche_platre_neuville.jpg" style="height: 300px; width: 300px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-4 col-xs-12 col-md-offset-1">
            <h3>Realisation 6</h3>
            <img src="assets/images/platrerie/corniche_platre_orleans_apres.jpg" style="height: 300px; width: 300px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 col-xs-12 col-md-offset-2">
            <h3>Realisation 7</h3>
            <img src="assets/images/platrerie/corniche_platre_neuville.jpg" style="height: 300px; width: 300px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-4 col-xs-12 col-md-offset-1">
            <h3>Realisation 9</h3>
            <img src="assets/images/platrerie/corniche_platre_orleans_apres.jpg" style="height: 300px; width: 300px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

    </div><!--end div row-->

</section>
