<span id="anchorPlatrerie" class="anchor"></span>
<div class="row separationImg">
    <div class="center-title">
        <h2>Plâtrerie</h2>
    </div>
</div>
<section>
    <div class="section-content">
        <div class="row">
            {% for platrerie in platreries %}
                <div class="col-md-6 col-xs-12">
                    <figure class="thumbnail center-block">
                        <h3>{{ platrerie.titre }}</h3>
                        <img src="{{ platrerie.image }}" class="img-responsive">
                        <figcaption>{{ platrerie.texte }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
