<span id="anchorPlatrerie" class="anchor"></span>
<div class="row separationImgPlatrerie">
    <div class="center-title">
        <h2>Plâtrerie</h2>
    </div>
</div>
<section>
    <div class="section-content">
        <div class="row">
            <p class="text-center">
                {% for presentationPlatrerie in presentationPlatreries %}
                    {{ presentationPlatrerie.texte | raw }}
                {% endfor %}
            </p>
        </div>
        <div class="row">
            {% for platrerie in platreries %}
                <div class="col-md-6 col-xs-12">
                    <figure class="thumbnail center-block">
                        <div class="titreSeparation">
                            <h3>{{ platrerie.titre }}</h3>
                        </div>
                        {%  include 'Home/modal_platrerie.html.twig' %}
                        <figcaption>{{ platrerie.texte }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
