<span id="anchorPresentation" class="anchor"></span>
<section class="presentation">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h2 class="presentation-title">Beltoise & Fils</h2>
            <div class="presentation-text">
                <p>Entreprise familiale créée en 1981, nous vous proposons à partir de la ville de
                    <span class="green-bold">Loury</span> et ses alentours (environ 50 - 60 kilomètres), notre
                    savoir-faire
                    en <span class="green-bold">maçonnerie générale</span>, <span class="green-bold">rénovation</span>,
                    <span class="green-bold">construction écologique</span>, <span
                            class="green-bold">plâtrerie et carrelage</span>.</p>
                <p>Des professionnels qualifiés réalisent la <span
                            class="green-bold">construction de maisons individuelles</span> ainsi que la
                    <span class="green-bold">rénovation</span>,
                    <span class="green-bold">l'extension</span> et <span
                            class="green-bold">l'agrandissement de maisons</span>.</p>
                <p>En <span class="green-bold">rénovation de maisons anciennes nous mettons en œuvre des matériaux
                    écologiques chanvre, enduit chaux-chanvre</span>
                    et ouate de cellulose dans le respect de l’environnement et des traditions.</p>
                <p>La société Beltoise intervient également dans la <span class="green-bold">construction d'aménagements
                    extérieurs : cours, allées, clôtures, terrasses, murets, terrassement et assainissement</span>.</p>
                <p>Egalement en <span class="green-bold">plâtrerie traditionnelle</span>,
                    <span class="green-bold">placoplâtre</span> et <span class="green-bold">carrelage</span>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="logos-certifications col-md-3">
            <p><a href="#" target="_blank"><img
                            src="http://via.placeholder.com/100x100" alt="Certification"></a></p>
            <p><a href="#" target="_blank"><img
                            src="http://via.placeholder.com/100x100" alt="Certification"></a></p>
            <p><a href="#" target="_blank"><img
                            src="http://via.placeholder.com/100x100" alt="Certification"></a></p>
        </div>
        <div class="col-md-2 pull-right full-height">
            <div class="accueil-button">
                <a class="btn btn-success btn-lg" href="#contactAnchor" role="button">Nous contacter</a>
            </div>
        </div>
    </div>
</section>
