<section>
    <div class="row separationImg">
        <h2>Réalisations Ecologiques</h2>
    </div>

    <div class="row">

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 1</h3>
            <img src="assets/images/realeco/chantier_picard.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 2</h3>
            <img src="assets/images/realeco/chantier_picard_2.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 3</h3>
            <img src="assets/images/realeco/chantier_picard_3.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 4</h3>
            <img src="assets/images/realeco/remplissage_chanvre.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 5</h3>
            <img src="assets/images/realeco/remplissage_chanvre_2.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 6</h3>
            <img src="assets/images/realeco/chantier_picard.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 7</h3>
            <img src="assets/images/realeco/chantier_picard_2.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 8</h3>
            <img src="assets/images/realeco/chantier_picard_3.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <h3>Realisation 9</h3>
            <img src="assets/images/realeco/chantier_picard.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet,elit.</p>
        </div>

    </div><!--end div row-->

</section>

