<span id="anchorRealeco" class="anchor"></span>
<div class="row separationImgRealEco">
    <div class="center-title">
        <h2>Réalisations Ecologiques</h2>
    </div>
</div>
<section>
    <div class="section-content">
        <div class="row">
            <p class="text-center">
                {% for presentationRenovation in presentationRenovations %}
                    {{ presentationRenovation.texte }}
                {% endfor %}
            </p>
        </div>
        <div class="row">
            {% for realEco in realEcos %}
                <div class="col-md-6 col-xs-12 ">
                    <figure class="thumbnail center-block">
                        <div class="titreSeparation">
                            <h3>{{ realEco.titre }}</h3>
                        </div>
                        {% include 'Home/modal_realeco.html.twig' %}
                        <figcaption>{{ realEco.texte }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
