<span id="anchorRealeco" class="anchor"></span>
<div class="row separationImg">
    <div class="center-title">
        <h2>Réalisations Ecologiques</h2>
    </div>
</div>
<section>
    <div class="section-content">
        <div class="row">
            {% for realEco in realEcos %}
            <div class="col-md-6 col-xs-12 ">
                <div class="thumbnail center-block">
                    <h3>{{ realEco.titre }}</h3>
                    <img src="{{ realEco.image }}" class="img-responsive">
                    <p>{{ realEco.texte }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
