<span id="anchorRealeco" class="anchor"></span>
<div class="row separationImg">
    <div class="center-title">
        <h2>Réalisations Ecologiques</h2>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-md-5 col-xs-12 col-md-offset-1">
            <div class="thumbnail center-block">
                <h3>Realisation 1</h3>
                <img src="assets/images/chantier_picard.jpg"  class="img-responsive">
                <p>Lorem ipsum dolor sit amet,elit.
                    Lorem ipsum dolor sit amet,elit. Lorem ipsum dolor sit amet,elit.</p>
            </div>
        </div>
    </div>
</section>
