<span id="anchorRenovation" class="anchor"></span>
<div class="row separationImgRenovation">
    <div class="center-title">
        <h2>Rénovation et Restauration</h2>
    </div>
</div>
<section>
    <div class="section-content">
        <div class="row">
            <p class="text-center">
                {% for presentationRenovation in presentationRenovations %}
                    {{ presentationRenovation.texte | raw }}
                {% endfor %}
            </p>
        </div>
        <div class="row">
            {% for renovation in renovations %}
                <div class="col-md-6">
                    <figure class="thumbnail center-block">
                        <div class="titreSeparation">
                            <h3>{{ renovation.title }}</h3>
                        </div>
                        <div class="col-md-6">
                            {% include 'Home/modal_renovation_avant.html.twig' %}
                        </div>
                        <div class="col-md-6">
                            {% include 'Home/modal_renovation_apres.html.twig' %}
                        </div>

                            <figcaption class="text-center">{{ renovation.text }}</figcaption>

                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>