<span id="anchorRenovation" class="anchor"></span>
<div class="row separationImg">
    <div class="center-title">
        <h2>Rénovation et Restauration</h2>
    </div>
</div>
<section>
    <div class="row">

        <div class="col-md-5 col-md-offset-1">
            <div class="thumbnail center-block">
                <h3>Rénovation</h3>
                <div class="col-md-6">
                    <img src="assets/images/renov/chateau_la_ronciere_avant.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <img src="assets/images/renov/chateau_la_ronciere_apres.jpg" class="img-responsive">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
            </div>
        </div>

        <div class="col-md-5">
            <div class="thumbnail center-block">
                <h3>Restauration</h3>
                <div class="col-md-6">
                    <img src="assets/images/renov/corniche_platre_la_chapelle_avant.jpg">
                </div>
                <div class="col-md-6">
                    <img src="assets/images/renov/corniche_platre_la_chapelle_apres.jpggit ">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-5 col-md-offset-1">
            <h3>Rénovation</h3>
            <img src="assets/images/renov/corniche_platre_orleans_avant.jpg" style="height: 200px; width: 200px; ">
            <img src="assets/images/renov/corniche_platre_orleans_apres.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
        </div>

        <div class="col-md-5">
            <h3>Restauration</h3>
            <img src="assets/images/renov/enduit_chanvre_avant.jpg" style="height: 200px; width: 200px; ">
            <img src="assets/images/renov/enduit_chanvre_apres.jpg" style="height: 200px; width: 200px; ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
        </div>

    </div>

</section>
