<span id="anchorRenovation" class="anchor"></span>

<section>
    <div class="row separationImg">
        <div class="center-title">
            <h2>Rénovation et Restauration</h2>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            {% for renovation in renov %}
                <p>{{ renovation.image_before }} {{ renovation.image_after }}</p>
            <div class="col-md-4 col-md-offset-1">
                <h3>Rénovation</h3>
                <img src="assets/images/renov/chateau_la_ronciere_avant.jpg" style="height: 200px; width: 200px; ">
                <img src="assets/images/renov/chateau_la_ronciere_apres.jpg" style="height: 200px; width: 200px; ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
            </div>
            {% endfor %}


            <div class="col-md-4 col-md-offset-2">
                <h3>Restauration</h3>
                <img src="assets/images/renov/corniche_platre_la_chapelle_avant.jpg"
                     style="height: 200px; width: 200px; ">
                <img src="assets/images/renov/corniche_platre_la_chapelle_apres.jpg"
                     style="height: 200px; width: 200px; ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 col-md-offset-1">
                <h3>Rénovation</h3>
                <img src="assets/images/renov/corniche_platre_orleans_avant.jpg" style="height: 200px; width: 200px; ">
                <img src="assets/images/renov/corniche_platre_orleans_apres.jpg" style="height: 200px; width: 200px; ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
            </div>

            <div class="col-md-4 col-md-offset-2">
                <h3>Restauration</h3>
                <img src="assets/images/renov/enduit_chanvre_avant.jpg" style="height: 200px; width: 200px; ">
                <img src="assets/images/renov/enduit_chanvre_apres.jpg" style="height: 200px; width: 200px; ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
            </div>

        </div>
    </div>

</section>
