<span id="anchorRenovation" class="anchor"></span>
<div class="row separationImg">
    <div class="center-title">
        <h2>Rénovation et Restauration</h2>
    </div>
</div>
<section>
    <div class="section-content">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="thumbnail center-block">
                    <h3>Rénovation</h3>
                    <div class="col-md-6">
                        <img src="assets/images/chateau_la_ronciere_avant.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <img src="assets/images/chateau_la_ronciere_apres.jpg" class="img-responsive">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus</p>
                </div>
            </div>
        </div>
    </div>
</section>