<div class="modal modal-wide fade" id="imageBefore" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="image-modal" src="assets/uploads/{{ renovation.imageBefore }}">
            </div>
            <div class="modal-body">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>