/* START Global */

body {
    background-color: white;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

.admin-box {
    border: solid 1px #dbdbdb;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* END Global */

/* START Accueil */

.section-accueil {
    height: 80vh;
    position: relative;
}

.buttons-group {
    position: absolute;
    transform: translate(0, 15vh);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li + li {
    padding-top: 15px;
}

.buttons-return a {
    position: absolute;
    bottom: 20px;
}

.buttons-return a:last-child {
    right: 15px;
}

/* END Accueil */

/* START Administration d'une section */

.alert-danger {
    width: 30%;
}

.text-forms-group {
    width: 80vw;
    margin: auto;
    overflow: auto;
}

form {
    padding: 15px;
}

legend {
    border: none;
}

.center-form {
    width: 80%;
    margin: auto;
}

textarea {
    resize: vertical;
    width: 100%;
    margin: auto;
}

.image-uploader {
    width: 80vw;
    margin: 30px auto;
}

.uploaded-images {
    padding: 15px;
}

.thumbnail {
    margin-bottom: 10px;
}

figure img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

.delete-form {
    padding: 0;
    margin: 10px 0 5px 0;
}

/* END Administration d'une section */
