/*START CSS */

/*  Style global */

body {
    position: relative; /*needed for scroll spy*/
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.anchor {
    padding-top: 65px;
}

section {
    padding-bottom: 60px;
    padding-top: 60px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.separationImg {
    height: 300px;
    background: url("../images/realeco/chantier_picard_2.jpg") no-repeat fixed;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-title {
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
}

h2 {
    text-align: center;
    color: white;
    border-bottom: solid 5px #004741;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 300%;
    text-transform: uppercase;
}

/* Start Navbar CSS */

.separationImgAccueil {
    height: 100vh;
    background: url("../images/accueil/chantiergodat.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: #004741;
    border: 0;
    z-index: 1;
}

@media (max-width: 768px) {
    .navbar-default {
        padding-right: 15px;
    }
}

.nav > li > a {
    padding: 10px 0px;
    margin-left: 15px;
    font-size: large;
}

.navbar-default .navbar-nav > li > a {
    position: relative; /*needed for link hover underline*/
    color: #fff;
}

/*prepare link hover underline*/
.navbar-default .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00857c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

/*show link underline animation when hover*/
.navbar-default .navbar-nav > li:not(:last-child) > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

/*prevents color overwrite by bootstrap in case the user clicks and drags the element*/
.navbar-default .navbar-nav > li > a:visited {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a:not(:last-child) {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav > .active:not(:last-child) > a:before {
    visibility: visible;
    transform: scaleX(1);
    background-color: #00857c;
}

.navbar-default .navbar-nav > .active:not(:last-child) > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
    background-color: #00857c;
    color: #fff;
}

.navbar-default .navbar-nav > .active:not(:last-child) > a {
    color: #fff;
    background-color: #004741;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #004741;
}

/*prevents color overwrite by bootstrap in case the user clicks or drags the element*/
.navbar-default .navbar-nav > .active:not(:last-child) > a:visited {
    color: #fff;
    background-color: #004741;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li:hover {
    text-align: center;
    font-weight: bold;
}

.navbar-right {
    padding: 20px;
}

.navbar-button .btn-success, navbar-button .btn-success:visited {
    background-color: #00857c;
    border-color: #00857c;
    padding: 10px 16px;
    outline: none;
}

.navbar-button:hover .btn-success:hover {
    background-color: #009a91;
    border-color: #009a91;
}

.navbar-default .navbar-nav > .active:last-child > a {
    color: #fff;
    background-color: #009a91;
}

.navbar-default .navbar-nav > .active:last-child > a:visited {
    color: #fff;
    background-color: #009a91;
}

/*top fixed navbar*/
#navbar.navbar-fixed-top {
    position: fixed;
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    width: 250px;
    padding: 10px 10px;
}

/* forces the burger menu to be displayed in sm (default is xs only) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
        margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #00857c !important;
}

.navbar-toggle:visited {
    background-color: #004741;
}

/*End Navbar CSS*/

/* START PRESENTATION */

.presentation-title {
    color: black;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.presentation-text {
    padding: 40px 0px;
}

.presentation p {
    font-size: x-large;
}

.green-bold {
    color: #004741;
    font-weight: bold;
}

.logos-certifications {
    display: flex;
}

.presentation img {
    width: 100px;
    height: 100px;
}

.logos-certifications p + p {
    padding-left: 20px;
}

/* END PRESENTATION */

/* section maçonnerie */

#myCarousel {
    width: 100%;
    height: 400px;

}

#myCarousel img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}

/* fin section maçonnerie  */
/*Start Realisation eco CSS*/

/*End Realisation eco CSS*/

/*Start Renovation  CSS*/

/*End Renovation CSS*/

/*Start Contact CSS*/

.contact-title {
    position: static;
    color: black;
    border: none;
}

.button-contact .btn-success, .button-contact .btn-success:visited {
    background-color: #004741;
    border-color: #004741;
    outline: none;
}

.button-contact .btn-success:hover {
    background-color: #00857c;
    border-color: #00857c;
}

.button-contact .btn-success:active {
    background-color: #00403a;
}

/*End Contact CSS*/

/*Start footer CSS*/
.footer [class*="col-"] {
    background-color: #004741;
}

.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #004741;
}

.logo-certif {
    padding: 40px 0 10px 0;
}

#footer-logo-beltoise {
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
}

.logo-beltoise-footer {
    padding-top: 10px;
}

.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}

.legal-logo-wcs {
    height: 30px;
    margin-left: -35px;
}

.logoWCS {
    padding-top: 30px;
}

.logoWCS a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal {
    padding-top: 20px;
}

.linkModal a {
    color: black;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal a:hover {
    color: white;
    text-decoration: none;
}

.modal.modal-wide .modal-dialog {
    width: 80%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

/*End footer CSS*/
