/*START CSS */

/* START Style global */

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.anchor {
    padding-top: 75px;
}

@media (max-width: 768px) {
    .anchor {
        padding-top: 36px;
    }
}

.section-content {
    padding-bottom: 60px;
    padding-top: 60px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.separationImgMaconnerie {
    height: 300px;
    line-height: 280px;
    width: 100%;
    background: url("../uploads/imageFondMaconnerie.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.separationImgPlatrerie {
    height: 300px;
    line-height: 280px;
    width: 100%;
    background: url("../uploads/imageFondPlatrerie.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.separationImgRealEco {
    height: 300px;
    line-height: 280px;
    width: 100%;
    background: url("../uploads/imageFondRealisation.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.separationImgRenovation {
    height: 300px;
    line-height: 280px;
    width: 100%;
    background: url("../uploads/imageFondRenovation.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 7em;
    text-transform: uppercase;
    font-family: 'Gidugu', sans-serif;
    text-shadow: 5px 5px black;
}

@media (max-width: 445px) {
    h2 {
        font-size: 5em;
    }
}

p, figcaption, ul {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

p.text-center {
    font-size: 2em;
}

.img-renovation {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

iframe {
    width: 100%;
    height: 450px;
}

/* END Style global */

/* Start Navbar CSS */

.separationImgAccueil {
    height: 100vh;
    background: url("../uploads/imageAccueil.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    border-radius: 0;
    position: fixed;
    width: 100%;
}

.navbar-default {
    background-color: #004741;
    border: 0;
    z-index: 2;
}

.navbar-header {
    padding: 0px 15px;
}

nav li {
    text-transform: uppercase;
}

.nav > li > a {
    padding: 10px 0px;
    margin-left: 15px;
    font-size: x-large;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li:last-child > a:focus {
    background-color: #00857c;
    border-color: #00857c;
}

.navbar-right {
    padding: 25px;
}

.navbar-button .btn-success {
    background-color: #00857c;
    border-color: #00857c;
    padding: 10px 16px 13px 16px;
}

.navbar-button:hover .btn-success:hover {
    background-color: #009a91;
    border-color: #009a91;
}

.logo {
    padding: 10px 10px;
    position: absolute;
    top: 45px;
    transform: translate(0, -50%);
    height: 100%;
    width: auto;
}

@media (max-width: 1355px) {
    .logo {
        top: 25px;
        height: 60px;
    }
}

/* Forces the burger menu to be displayed sooner (default is xs only) */
@media (min-width: 768px) and (max-width: 1355px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

    .navbar-header {
        float: none;
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        /*margin: 7.5px -15px;*/
        margin: 7.5px 50px 7.5px -15px
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

/*Forces the drop down menu to hide in sync with the burger menu*/
@media (min-width: 1355px) {
    .navbar-smartphone {
        display: none;
    }
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #00857c !important;
}

.navbar-toggle:visited {
    background-color: #004741;
}

/* Style specific to xs and sm */
@media (max-width: 1355px) {

    .nav li {
        text-align: center;
    }

    .nav li a:focus {
        background-color: #004741 !important;
    }

    .navbar-collapse .btn-success {
        background-color: #00857c;
        border-color: #00857c;
        padding: 10px 16px;
    }
}

/*End Navbar CSS*/

/* START PRESENTATION */

.presentation-title {
    position: static;
    color: #004741;
    margin: 0;
    text-shadow: none;
}

.presentation-text {
    padding: 40px 0px;
    text-align: left;
}

.presentation p {
    font-size: x-large;
}

b {
    color: #004741;
    font-weight: bold;
}

.image-list {
    padding: 0;
    list-style: none;
}

.logo-certif {
    height: 150px;
    width: 150px;
    line-height: 150px;
}

.logo-certif img {
    display: inline-block;
}

/* END PRESENTATION */

section h3 {
    font-size: 4em;
    text-align: center;
    color: #004741;
    font-family: 'Gidugu', sans-serif;
}

section p, section ul {
    font-size: x-large;
}

section p {
    width: 80%;
    margin: auto;
}

.prestations-title {
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

.thumbnail img {
    margin-bottom: 30px;
    border-radius: 3%;
    border: 1px solid #004741;
    width: 100%;
}

section .thumbnail {
    width: 80%;
    border: none;
}

.titreSeparation {
    height: 50px;
    line-height: 100px;
}

/* section maçonnerie */

.myCarousel {
    width: 100%;
    height: 100%;
}

.myCarousel img {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.carousel-indicators {
    z-index: 1;
}

/* Fin section maçonnerie  */

/*Start Contact CSS*/

.contact-title {
    position: static;
    color: black;
    text-shadow: none;
}

.button-contact {
    padding-left: 0px;
}

.button-contact .btn-success, .button-contact .btn-success:visited {
    background-color: #004741;
    border-color: #004741;
    font-family: 'Dosis', sans-serif;
}

.button-contact .btn-success:hover {
    background-color: #00857c;
    border-color: #00857c;
}

.button-contact .btn-success:active {
    background-color: #00403a;
}

.form-bottom {
    display: flex;
    flex-direction: row;
    line-height: 50px;
}

.successForm {
    padding-left: 25px;
    display: inline-block;
    color: #004741;
}

/*End Contact CSS*/

/*Start footer CSS*/

hr.separator {

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 71, 65, 0.75), rgba(0, 0, 0, 0));
    border: 0 none;
    height: 1px;

}

.footer [class*="col-"] {
    background-color: white;
}

.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    font-family: 'Dosis', sans-serif;
}

.image-list {
    padding: 0;
    list-style: none;
}

.logo-certif-mini {
    max-height: 150px;
    max-width: 150px;
    line-height: 150px;
}

.logo-certif-mini img {
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
}

.footer-logo-beltoise {
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
}

.logo-beltoise-footer {
    padding-top: 10px;
}

.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}

.legal-logo-wcs {
    height: 30px;
    margin-left: -35px;
}

.logoWCS a {
    color: black;
    text-decoration: none;

}

.linkModal {
    padding-top: 20px;
}

.linkModal a {
    color: black;
    font-size: 18px;

}

.linkModal a:hover {
    color: #004741;
    text-decoration: none;
}

.modal.modal-wide .modal-dialog {
    width: 80%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

/*End footer CSS*/
