/*START CSS */

/*  Style global */

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

h2 {
    text-align: center;
    margin-bottom: 60px;
}
/* Start Navbar CSS */
.navbar{
    margin-bottom: 0;
}

.navbar-default{
    background-color: grey;
    border: 0;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #fff;
}


.navbar-inverse .navbar-nav > li > a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-right
{
    padding: 20px;
}

.logo
{
    width: 250px;
    padding: 10px 10px;
}
/*End Navbar CSS*/

/* START ACCUEIL */

.accueil h2 {
    text-align: center;
}

.accueil p {
    font-size: large;
}

.logos-certifications {
    display: flex;
}

.logos-certifications p+p {
    padding-left: 20px;
}

.full-height {
    min-height: 100%;
}

/* END ACCUEIL */

/* section maçonnerie */

.separationImg {
    margin-bottom: 60px;  /*  !!!  margin container fluid */
    width: 100%;
    height: 300px;
    background: url("http://via.placeholder.com/1907x350") no-repeat fixed;
}


h2 {
    text-align: center;
    margin-bottom: 60px;
}

#myCarousel {
    width: 100%;
    height: 400px;

}

#myCarousel img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}

/* fin section maçonnerie  */
/*Start Realisation eco CSS*/

div.realeco.title {
    text-align: center;
}

/*End Realisation eco CSS*/

/*Start footer CSS*/
.footer [class*="col-"] {
    background-color: grey;
}
.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: grey;
}

.logo-certif {
    padding: 40px 0 10px 0;
}

#footer-logo-beltoise {
    margin-top:10px;
    width: 100%;
    max-width: 350px;
}

.logo-beltoise-footer {
    padding-top: 10px;
}

.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}

.legal-logo-wcs {
    height: 30px;
    margin-left: -35px;
}

.logoWCS {
    padding-top: 30px;
}

.logoWCS a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal {
    padding-top: 20px;
}

.linkModal a {
    color: #557e02;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal a:hover {
    color: white;
    text-decoration: none;
}
.modal.modal-wide .modal-dialog {
    width: 80%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}
/*End footer CSS*/
