/*-*-*-*-* START CSS *-*-*-*-*/

/* START ACCUEIL */

#accueil h2 {
    text-align: center;
}

#accueil p {
    font-size: large;
}

.logos-certifications {
    display: flex;
}

.logos-certifications p+p {
    padding-left: 20px;
}

.accueil-button {
    padding-right: 15px;
}

.test {
    height: 100%;
}

/* END ACCUEIL */

/*-*-*-*-* END CSS *-*-*-*-*/


/*-*-*-*-* START MEDIA QUERIES *-*-*-*-*/

@media screen and (max-width: 767px){ /* COL-XS */ 


}

@media screen and (min-width: 768px) AND (max-width: 991px){ /* COL-SM */ 


}

@media screen and (min-width: 992px) AND (max-width: 1199px){ /* COL-MD */


}

@media screen and (min-width: 1200px) { /* MEDIA FOR COL-LG */


}

/*-*-*-*-* END MEDIA QUERIES *-*-*-*-*/